<div class="d-block">
  <div class="card shadow-sm p-0 mb-2 bg-body-tertiary rounded">
    <div class="card-body">
      <p>{{content}}</p>
      <p class="float-end">- {{user.username}} on {{format_dateAndTime updatedAt}}</p>
    </div>
  </div>
</div>