<div class="d-block">
  <div class="card shadow-sm p-0 mb-2 bg-body-tertiary rounded">
    <div class="card-body">
      <p>{{movie.review.content}}</p>
      <p class="float-end">- {{movie.review.user.username}} on {{movie.review.updatedAt}}</p>
    </div>
  </div>
</div>
