{{#if movies}}
  <div class="container">
    <div class="row justify-content-evenly">
      {{#each movies as |movie|}}
      <div class="col-5">
        <img src="{{movie.image}}">
        <p>{{movie.plot}}</p>
      </div>
      {{/each}}
    </div>
  </div>
{{/if}}