{{!-- Login Form --}}
<div class="d-flex p-4 justify-content-center mt-5">
  <div class="login-card w-50">
    <h2 class="text-center">Login</h2>

    <form class="login-form">
      <div class="form-group">
        <label for="usernameLogin">Username</label>
        <input type="text" class="form-control" id="usernameLogin" placeholder="Enter Username">
      </div>
      <div class="form-group mt-2">
        <label for="passwordLogin">Password</label>
        <input type="password" class="form-control" id="passwordLogin" placeholder="Enter Password">
      </div>
      <div class="mt-2">
        <button type="submit" class="btn btn-primary float-start">Submit</button>
        <a href="/signup" class="float-end">Sign Up Instead</a>
      </div>
    </form>
  </div>
</div>


<script src="/js/login.js"></script>