{{!-- Sign Up Form --}}
<div class="signup-card">
  <h2>Sign Up</h2>

  <form class="signup-form">
    <div class="form-group">
      <label for="usernameSignup">Username</label>
      <input type="text" class="form-control" id="usernameSignup" placeholder="Enter Username">
    </div>
    <div class="form-group">
      <label for="passwordSignup">Password</label>
      <input type="password" class="form-control" id="passwordSignup" placeholder="Enter Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/login">Login</a>
  </form>
</div>

<script src="/js/signup.js"></script>