h1 {
  font-size: 400%;
  color: black;
}

.user-review {
  font-size: 150%;
}

.review-timestamp {
  font-size: 90%;
}

#movie-title {
  font-size: 275%;
}

.movie-poster {
  height: 800px;
}

body {
  min-height: 100vh;
  margin: 0;
}

header {
  min-height: 50px;
}

footer {
  min-height: 50px;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}